@using KUSYS_Demo.ViewModels.Home;
@model List<StudentViewModel>

@{
    ViewData["Title"] = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}

<h1>Student List And Match Courses</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
        <th>Courses</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        counter++;
        <tr>
            <td>@counter</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.BirthDate.ToString("dd.MM.yyyy")</td>
            <td>@item.SelectedCourses</td>
            <td><a href="/Student/DeleteStudent/@item.Id" class="btn btn-outline-danger">Delete</a></td>
            <td><a href="/Student/UpdateStudent/@item.Id" class="btn btn-outline-success">Update</a></td>
        </tr>
    }
</table>

<a href="/Student/AddStudent" class="btn btn-outline-info">New Student Registration</a>